<div class="card card-body rounded-0">
    <h3 class="card-title font-weight-bold">Create publication account</h3>
    <nav class="nav nav-pills nav-fill nav-pills-create-pub mb-5">
        <a class="nav-item nav-link" [routerLink]="['/settings/publications/create/setup/' +  profile._id]" routerLinkActive="active">
            Step 1
            <p>Publication profile</p>
        </a>
        <a class="nav-item nav-link" [ngClass]="{'disabled': profile.publisher.status < 0}" [routerLink]="['/settings/publications/create/members/' + profile._id]" routerLinkActive="active">
            Step 2
            <p>Add team members</p>
        </a>
        <a class="nav-item nav-link" [ngClass]="{'disabled': profile.publisher.status < 1}" [routerLink]="['/settings/publications/create/details/' + profile._id]" routerLinkActive="active">
            Step 3
            <p>Publication details</p>
        </a>
    </nav>

    <router-outlet></router-outlet>
</div>