<section class="feed-item" *ngFor="let item of feed">
 

  <div [ngSwitch]="item.verb">
    <ng-container *ngSwitchCase="'labels'">
      <div class="body">
        <i class="icon fa fa-tag"></i> 
        <small class="text-muted text-uppercase">{{item.time | amFromUtc | amLocal | amTimeAgo}}</small>
        <div class="title">
          <a [routerLink]="['/' + item.actor.username]">
            {{item.actor.username}}
          </a> 
          added 
          <span class="label">{{item.object.label.label}}</span> 
          label to 
          <a [routerLink]="['/' + item.actor.username]">
            article
          </a>
          on
          <a [routerLink]="['/' + item.actor.username]">
            {{item.object.label.publisher.username}}
          </a>
        </div>
        <div class="details">
          <img src="{{item.actor.image}}" height="30px" alt="">
          <blockquote class="quote">
            {{item.object.label.section}}
          </blockquote>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'follows'">
        <div>dd</div>
    </ng-container>
  </div>


</section>