
<app-loading [condition]="isLoading"></app-loading>
<div class="list-group list-notifications">
  <a [routerLink]="['/' + notification.actor.username]" class="list-group-item list-group-item-action" *ngFor="let notification of notifications">
    <img src="{{notification.actor.image}}" alt="">
    <div class="content">
      <strong>{{notification.actor.username}}</strong> {{notificationText(notification)}}
      <br>
      <small class="text-muted">{{notification.time | date:'shortTime'}}</small>
    </div>
  </a>
</div>