<div class="row flex-row-reverse">
  <div class="col-md-5 mt-4">
    <div class="card card-body rounded-0">
        <h2 class="card-title font-weight-bold">Increasing digital content quality through thoughtful reader engagement</h2>
        
        <div class="mt-2">
            <button type="button" class="btn btn-light rounded-0 btn-block btn-social fb">
              <i class="fa fa-facebook fa-fw"></i>  
              Connect with Facebook
            </button>

            <button type="button" class="btn btn-light rounded-0 btn-block btn-social g">
                <i class="fa fa-google fa-fw"></i>  
                Connect with Google
            </button>
            
            <a routerLink="/register" class="mt-2 d-block text-muted">
              <small>Or sign up with email</small>
            </a>
        </div>
    </div>
  </div>
  <div class="col-md-7 mt-4">
    <div class="card card-body rounded-0">
      <app-feed></app-feed>
    </div>
    <button type="button" class="btn btn-light rounded-0 btn-block mt-3 text-muted">View more</button>
    
  </div>
</div>