.navbar-nav{
    &.action{
        margin-right: 20px;
        >.nav-item{
            &.create-tag{
                >a{
                    color: #00E676;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}



.card-nav-mobile{
    flex-basis: 100%;
}